

.header-section{
    background-image: url('../images/abstract-background-with-red-lines\ .jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding-top: 42px;
    padding-bottom: 89px;
}
.container{
        max-width: 1280px;
            align-items: center;
            // margin-bottom: 60px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 40px;
            padding-left: 80px;
            // padding-right: 20px;
            display: flex;
}
.input{
    width: 177px;
    height: 42px;
    padding-left: 17px;
    background-color: #FFFFFF;
    border-radius: 100px;
    border: none;
    // border-bottom: 0.5px solid #fff;
    position: relative;
    
}
.button_search{
    background-image: url('../images/search\ 2.png');
    background-color: #FFFFFF;
    width: 16px;
    height: 16px;
    position: relative;
    right: 40px;
    border: none;
    background-repeat: no-repeat;
        background-size: cover;

}
.button-home{
    width: 99px;
    height: 42px;
        // color: #fff;
        background-color: #FFFFFF;
        border-radius: 100px;
        border: none;
}
.button-library{
    width: 117px;
    height: 42px;
        // color: #fff;
        background-color: #FFFFFF;
        border-radius: 100px;
        border: none;
}
.header-wrap_home{
    // align-items: center;
    // justify-content: center;
    display: flex;
    // margin-left: 100px;
}


.movie-start{
// display: flex;
// justify-content: center;
//     align-items: center;
}

.img-start{
    width: 395px;
    height: 574px;
    
}
.gallery-start {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: center;
    // margin: 0 auto;
    width: 100%;
    padding: 60px 32px 0;
  }
.gallery-start_1{
    // width: 100%;
    // padding: 60px 32px 0;
    // width: 1280;
    // padding: 0px 20px 20px 0px;
}

.movie-details_start{}

// =====модалка старт=====

.film-modal-content {
    background-color: #fff;
    padding: 10px 10px 35px;
    transition: transform .5s cubic-bezier(.075, .82, .165, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)scale(1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    width: 806px;
    height: 558px;
}

.modal__content img {
    width: 100%;
    max-width: 375px;
    height: auto;
    max-height: 478px;
    display: block;
    // margin: 0 auto;
    // margin-bottom: 20px;
    margin: 40px 0px;
    
}

.movie-details_modal {
    display: flex;
}
.text-details_modal{
    display: flex;
}

.movie-details_modal h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.movie-details_modal p {
    font-size: 18px;
    margin-bottom: 10px;
}
.modal__list{
    display: flex;
}

// ======watched queue button=======

// .button_watched{
//     width: 120px;
//         height: 42px;
//         // color: #fff;
//         background-color: #FFFFFF;
//         border-radius: 100px;
// }

// .button_queue {
//     width: 86px;
//     height: 42px;
//     // color: #fff;
//     background-color: #FFFFFF;
//     border-radius: 100px
// }