.button_watched {
    width: 120px;
    height: 42px;
    // color: #fff;
    background-color: #FFFFFF;
    border-radius: 100px;
}

.button_queue {
    width: 86px;
    height: 42px;
    // color: #fff;
    background-color: #FFFFFF;
    border-radius: 100px
}